@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .webkit-box-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .hover-bg {
    @apply hover:bg-neutral-100;
  }

  .thin-scroll {
    scrollbar-color: #adb3be transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
      border-radius: 2px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: darkgrey;
    }
  }
}

html {
  font-size: 14px;
}
