@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*c- = custom styles*/
  .c-text-light {
    @apply text-neutral-400;
  }

  .c-webkit-box-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .c-hover-bg {
    @apply hover:bg-neutral-100;
  }

  .c-hover-active-bg {
    @apply hover:bg-orange-200;
  }

  .c-active-bg {
    @apply bg-orange-100;
  }

  .c-thin-scroll {
    scrollbar-color: #adb3be transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
      border-radius: 2px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: darkgrey;
    }
  }
}

@layer base {
  :root {
    /*set 1rem = 14px (default 16px)*/
    font-size: 14px;
  }
}
